{% load bootstrap3 %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block bootstrap3_content %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Roombox</a>
			</div>

            <div class="collapse navbar-collapse" id="roombox-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
	</nav>


{% block content %}
	<div class="container-fluid main-container">
		<div class="col-md-10 content">
			<div class="panel panel-default">
                <div class="panel-heading">
                    System info
				</div>
                <div class="panel-body">
                    <ul>
                        <li>Vagrant version: {{ versions.vagrant_version }}</li>
                        <li>Virtualbox version: {{ versions.virtualbox_version }}</li>
                       </ul>
				</div>
			</div>
				
			<div class="panel panel-default">
                <div class="panel-heading">
                    Vagrant boxes
				</div>
                <div class="panel-body">
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Provider</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody>
				        {% for box in all_boxes  %}
                        <tr>
                            <td>{{ box.name }}</td>
                            <td>{{ box.provider }}</td>
                            <td>{{ box.version }}</td>
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
             </div>
				
			<div class="panel panel-default">
                <div class="panel-heading">
                    Vagrant enviroments
				</div>
                <div class="panel-body">
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Provider</th>
                            <th>State</th>
                            <th>Path</th>
                        </tr>
                    </thead>
                    <tbody>
				        {% for env in all_envs  %}
                        <tr>
                            <td>{{ env.uid }}</td>
                            <td>{{ env.name }}</td>
                            <td>{{ env.provider }}</td>
                            <td>{{ env.state }}</td>
                            <td>{{ env.path }}</td>
                        </tr>
                        {% endfor  %}
                    </tbody>
                </table>
             </div>
		</div>
    </div><!-- container-fluid main-container -->
{% endblock %}{% endblock %}
